
{% extends 'base.html' %}
{% block content %}
  <div id="search-results" class="mt-4">
    <!-- The search results will be dynamically added here -->
    <div class="mt-1">
      <table class="table" >
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Search keyword</th>
            <th scope="col">Article</th>
            <th scope="col">Search Count</th>
            <th scope="col">Total results</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody id="news_table_body">
        </tbody>
      </table>
    </div>
  </div>
    

  <!-- Include your JavaScript code for handling the search functionality -->
  <script>
    function loadData() {      
      // Get form data
      $.ajaxSetup({
            headers: {
            "X-CSRFToken": "{{ csrf_token }}"
            }
          });
          // Make an AJAX POST request
          $.ajax({
            url: "/news_article/news/",
            type: "GET",
            data: null,
            contentType: "application/json",
            success: function(response) {
              // Handle the successful response
              let article_data = response.data;
              let html_str = prepareHistoryTableHtml(article_data);
              $('#news_table_body').html(prepareHistoryTableHtml(article_data));
        },
        error: function(xhr, status, error) {
          // Handle the error response
          console.log("Error:", error);
        }
      });
    }
  
  $(document).ready(function() {
    // Handle form submission
    loadData();
  });
  </script>
{% endblock content %}